+++
title = "Sitecore Commerce Cookbook"
linkTitle = "Sitecore Commerce Cookbook"
+++

{{< blocks/cover title="Welcome to the Sitecore Commerce Cookbook!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/recipes" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ewerkman/sitecorecommercecookbook">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Recipes and menus for Sitecore Commerce!</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Sitecore Commerce Cookbook contains recipes and menus to use with Sitecore Commerce. 

Just like a real cookbook, there
 are basic recipes that teach you how to do simple things (like how to boil an egg) and more difficult recipes 
 (how to make a souffle). 
 
 Once you have mastered the recipes, you can start combining the recipes into menus to create more advanced features.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/ewerkman/sitecorecommercecookbook" %}}
We do a [Pull Request](https://github.com/ewerkman/sitecorecommercecookbook/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ewerkman" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
